env:
  global:
    - USERS_UI_REPO=partixyz/users-ui
    - secure: JemPRbvppOBeatUXaDShEPnGCb3Z2ZN2d6EoOV5FFNQrYu3RP0a7QQ9bcJLuh9BUgcqdhvhI0P8JDYY3HFqn3+7oukJl47A7KZf84g1afGh5Krr8GZtVRVvZP5BozlMPeSPLOBEixIGB2QEvRglQpApQuRWVtrcWu1Tlh6ti30VshAyw0+j2XkZnwuOHsjr8NmEvny2xl8hn9YdeGe4j2Rahmmm8gbV+folVf9OJqxGaht1TQUDUbzAeSdvUTHa1j+yotim/rK3HDmGWQ0GFhIH5dN0Gsf0zwUIXjFhjlzAlISCY05qhUi7YRRi+jmnJpqd6SOYR6B3tymb9m1pexCkX7SNZaJvaPLwjx/JHHy1giumuD0K2JKpTkVWxDzdRHLs7SRtOeSOZ7fKqrg0/29tjjiAsGjx8JeFwGpWicPd1xdEa51faLiYxdgUhwcVNc80SebPngO5MEgjp2KNfDxkT38Z6RCsW8mYRms/71JcP0x4fg1ZZ5jilyKSFkxgXTq4YcmaxZEuSaHkBZZo4ni3fQ5NH0GkwPKxf4fH7P32cj7e4kSZwic0cj8jwT3JYGxOpC/KudOYOzBXYpyRVWV7WSmrUyTbdUgiLAkyo6x1SKF5tG2tUvV0fDpC44Xg0JrKGsfNlN77nG7209YXREbLErAR0epvo8hsNLHU8bU0=
    - secure: WtMrAAYTLGdzrFw4ncV4ePzQ/XW8hO7EHtLRtNSwHQLBeK1DERnZwiXDe6c4VRiPB7i9Fxo1iCLHKZq3vPMYwFojiSxaQXWXJ0+VwgEjnGy5EUsnXdnn2ttCGJLgKSR/LR7jhIRFBNfd8BdFxVfJltAyIcOV4cc7aRAyNsoE486rg5Mj0DRPzM+j7wNBx2Aj+v62Rr4cqvZ6HQvzBy0PE4xKSKCTbXjT7k0zTdDxORjubiLWC1mYlohOcOLg+tCJp0nWKeRmYk72TkBvaUGU2xsOfta+2R2EVnSs6UFb2YHY3Xyflr8ruU19MyPmG2Q/8JYsJCJOFfh60qsRiEfabc7VY1pzfgsOIpBqByfifJf7FQPS7SYoTFFRBddGn5nr6tCF55CINZlFDuuZId07PYDZHjcyrnDgId3ijSIaYQeYEv+bxLdDWbNJRdrvNHUYzoc+o2te5poxw45ovVTqNen5a2JSg1AHHVMRjcNXuN2pEnTltWzbPxDOPCQg7G7C5ws1swEpTl+xEGRU+EGDzOohLMWnZ9iv5ok3B4pMrvJ+rToVNSH2vFf7/YQ0+iad22dGbGE1UcQHCC8Ofj7oBkAbZmnD4P2u1h1dVkAYN7Hr+MCh8g3y3oJNee66Txfbd6VuHNV2w4aaxCSXj6o/H4P77hanYfIPs89jGT5su+I=
    - secure: fLqimaBMj0NuSblvnJcPQ9bQSx9oqH+agjV0h6k8WJGvlK3hUf3OWsWxu29vh6iDVWzedSSHH7icaCSxUQqzShsAzf7x3qwpH5gLExDDx++e1tltO0RI1naEv53h1QRB1q2bMp9AVpdETJOopyOpVvh6mbLJom72mezV9aaITA2Q9pTJn66F1/KDqsRVUk2TUReG/FF9EQaqT37XhIW4ykLgb9vFyFNSiF0oPR0J52dVCeXJtAvVF2KZ0k2q78M2yf0TertU3+ExcKeCSz7Cr0RMvppy0qEE7dhgpU1PkNEaEgDVYJG8h/z+M19UPSJkjJGKLLmJ5+1oT9HeEQAhUcmr56MsvKRumoOhUtWzeZ++Qw6BbGDzIkOJAnp8fQpzsA3lSLxrlzXwVfhk3ZNoZPaJ1ROvarpGB8lBt9nwI/9iyX28ht7zI2iz9dzDImLu1EzCXfxvjbNdos1GKzhCd1l4o8fq13OklQYPFlFD1g3JB+VByBJ8mw6IKHGaFxgSz5z9YoUPAZRUgUf8ogb9eCVfkdrgDnlBNmqs1/Nd5D4nbWZr7NjnLGwsmnhJwARBdxCuWe8CmO06/HDRqdNsPHPe6K7TGYfQL9AAB8zV5eLzDkAJnWfc99Xpan72nnDtJEhL6jfuNQ0vlar5n0DhtrdUe6dKvO2YUbiqBhIPqCw=
    - secure: crxbVhWY3puNSBRm+Fkeex+r2pUd7SvF9w16lXfzW5lbu44aghW2Fi7s++YWtTIb9s/90H/bqe9ASzykfF1J3ylVdkpQ/lNxRQwso71h2t+mMTERFgrXrz7yqsw36oezlgWtwv8xsZa9SRdFF+5KoHdRCIyVgbdRD9Umk2gql9+2ImH+TMvwnPjX3nVrfUu1Y4P6JLGRF9Z3sFda+IzUltyMllmNj12hdSHBGfH8B833C83QnUTiQRRE/7SvKPYqS735Q2IAL318L2KdlFLmqCmITiOZ5fwFtQyiIFSRA55dN5hbq0VKjOiPY/I9PZcvhRVV1nfxeHxPENweZ5IgSn2F6EL4fb5i9TwVUqTZCqRuw4Tr8i93E7fHcN4BR+hoyTX/rZTy5bO9vSgd07OzwBowgB75zvQAaVIGBFN4XiK/5vK/3PV8ZTEmpLzT3EK9OQhz92Gmaq6N9mckxcg0GyU2gcMSfIPOUxXuj1T13jmKNYbAb+hMOG+zm1V8Wi5taB3WAA/6ysST3FSJyOpKKXe/mJPojlcgEEh2JKHW0bMyu3t4xEwvORu3cDF1XBKgtcfccPOmGzR/GQg6hg4B4CH71+hZixXrWu3n0dgm1v2rSXzV3NXefOFR9EQIEKu5sHl7zbJf2efBOevKRCxSdWJ7FryJpwxUTH7CiWHMVQ0=

language: node_js

node_js:
  - 5.6

sudo: required

services:
  - docker

before_install:
  - sudo service postgresql stop
  - docker-compose -v
  - echo $NODE_ENV

install:
  - export DISPLAY=':99.0'
  - Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
  - npm install

before_script:
  - openssl aes-256-cbc -d -k $secret -in .env.enc -a -out .env
  - cat .env.enc
  - source .env.enc; rm -f .env.enc

script:
  - docker-compose -f deploy/docker-compose-test.yml up -d db
  - docker-compose -f deploy/docker-compose-test.yml run --rm auth-api bin/rails db:setup
  - docker-compose -f deploy/docker-compose-test.yml up -d auth-api
  - docker-compose -f deploy/docker-compose-test.yml run --rm users-api bin/rails db:setup
  - docker-compose -f deploy/docker-compose-test.yml up -d users-api

  - export APP_VERSION=`git describe  --tags --long || echo ${TRAVIS_COMMIT::12}`
  - echo "building $USERS_UI_REPO:$APP_VERSION"
  - docker build -t $USERS_UI_REPO:$APP_VERSION .
  - docker tag ${USERS_UI_REPO}:${APP_VERSION} $USERS_UI_REPO:current
  - docker-compose -f deploy/docker-compose-test.yml up -d users-ui
  - sleep 3
  - docker-compose -f deploy/docker-compose-test.yml ps
  - npm run test-e2e

after_success:
  - docker login -e $DOCKER_EMAIL -u $DOCKER_USER -p $DOCKER_PASS
  - docker push $USERS_UI_REPO:$APP_VERSION
